/* regole generali */

img {
  max-width: 100%;
  height: auto;
}

/* Star title section */
.star hr {
  margin-top: 60px;
  font-size: 10px;
}

.star h1 {
  color:white;
}

.star {
  width: 100%;
  margin:auto;
}

/* #menu-large {
  display: none;
} */


@media (max-width: 768px){
  #menu-large {
    display: none;
  }
  #burger {
    display: block;
  }
}

@media (min-width: 769px){
  #burger {
    display: none;
  }
  #menu-large {
    display:block;
  }
}
/* regole di debug */
/* [class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
} */

/* .row .col-6 div  */
/* [class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
} */

/* regole corpo pagina */

.centratura-page {
  padding: 0 10%;
}

/* Regole Header */

.bg_darkblue {
  background-color:#2c3e50;
}

.bg_green {
  background-color:#1abc9c;
}

.bg_blue {
  background-color:#3a546d;
}

/* navigation bar rules */

.left-text,.right-text {
   text-align: center;
}

.right-text li {
  display: inline;
  list-style-type: none;
}

/* Jumbotron rules  */

.jumbotron {
  text-align: center;
  margin:auto;
  background-color:#1abc9c;
  width: 80%;
}
.jumbotron img {
  width: 30%;
}

/* Section rules */

.section1 {
  text-align: center;
  margin:auto;
  width: 80%;
}

.section_img {
  text-align: center;
}

.section_img img {
  width: 50%;

}

.button {
  text-align: center;
}

.foot {
  text-align: center;
}

.copy {
  text-align: center;
}
